body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

form {
    margin: auto;
    width: 80%;
}

ol {
    padding-left: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
}
